@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap');

#home {
	background: #ffc107;
	color: white;
}


.caixa{
	padding: 60px 0;
	border-bottom: 1px solid #e5e5e5;
}

 .letraLogo{
	font-size: 25px;
	font-weight: bold;
	font-family: 'Abril Fatface', cursive;
	padding-right: 30px;
	margin-left: 45px;
}